.carousel-item{
    background-color: #1C4415;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;

    @include mobile{
        height: 45vh;
    }
    
    .carousel-title{
        font-weight: 500;
    }
    img{
        width: 40vw;
        height: auto;
        box-shadow: 0.3em 0.3em 1em black; 

        @include mobile{
            width: 60vw;
        }
    }
    p{
        color: $color-primary;
        padding-top: 1.2em;

        a{
            color: $color-secondary;
            font-weight: 800;

            &:hover{
                text-decoration: none;
                color: white;
            }
        }
    }
}
