#skills{
    .skills-title{
        padding: 3em 0 1.5em;
        font-weight: 600;
        letter-spacing: 0.3em;
        font-size: 2em;

        @include mobile{
            font-size: 1.5em;
        }
    }
}

.home-skills-icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .home-skills-icons-column{
        display: flex;
        flex-direction: row;

        @include mobile{
            display: flex;
            flex-direction: column;
        }

        .skills-center{
            @include mobile{
                display: flex;
                justify-content: center;
                padding-left: 0.4em;
            }
        }

        .home-skills-icons{
            display: flex;
            flex-direction: row;

            .skills-icon{
                padding: 1em 2.5em;
    
                @include mobile{
                    padding: 0.3em 1em;
                }
    
                i{
                    font-size: 3em;
                    padding-bottom: 0.4em;
                    color: $color-secondary;
    
                    @include mobile{
                        font-size: 2.1em;
                    }
                }
                p{
                    @include mobile{
                        font-size: 0.6em;
                    }
                }
            }
        }
    }
}