.about-title{
    font-size: 2em;
    font-weight: 600;
    padding: 3em 0 2em;
    letter-spacing: 0.3em;

        @include mobile{
        font-size: 1.5em;
    }
}

.home-about-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    position: relative;
    z-index: 0;
    box-shadow: 0.4em 0.4em 1em black;

    @include mobile{
        flex-direction: column;
        height: auto;
    }

    &::before{
        background-image: url(./../../assets/kara-eads-FbXp5aOX-fs-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom:0;
        left: 0;
        content: "";
        z-index: 0;
        display: block
    }

    .home-about-past{
        @include mobile{
            margin-top: 1.1em;
        } 
    }

    .home-about-past,
    .home-about-present,
    .home-about-future{
        position: relative;
        z-index: 1;
        background-color: $background-primary;
        padding: 1em 2em;
        margin-right: 2em;
        width: 20vw;
        height: 50vh;
        box-shadow: 0.3em 0.3em 1em $black;

        p{
            font-size: 1.6em;
            padding: 0.3em 0;

            @include mobile{
                font-size: 1em;
                padding: 0.1em 0;
            }
        }

        @include mobile{
            width: 75vw;
            height: auto;
            margin-right: 0;
            margin-bottom: 1.1em;
        }

        .about-text{
            text-align: justify;
            font-size: 1.3em;

            @include mobile{
                font-size: 0.7em;
            }
        }
    }
}
 