.carousel, .slide{
    width: 100vw;
    height: 65vh;
    background-color: #1C4415;

    @include mobile{
        height: 50vh;
    }

    .carousel-item{   
        padding-top: 2vh;   
        .carousel-title{
            font-weight: 500;
            font-size: 1.4em;
            padding-bottom: 1em;
        }
        img{
            width: 40vw;
            height: auto;
            box-shadow: 0.3em 0.3em 1em $black; 
            
            @include mobile{
                width: 60vw;
            }
        }
            p{
                color: $color-primary;
                font-size: 1.2em;
                padding-top: 2em;
            
            a{
                color: $color-secondary;
                font-weight: 800;
            
                &:hover{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    } 
}